.MLContainer {
  .card_image {
    //border: 1px solid red;
    width: 100px;
    height: 165px;
    img.MLproductImg {
      width: 100px;
      height: auto;
    }

    .MLProduct {
      .MLproductDetail {
        color: black;
        overflow: hidden;
      }
    }
    }
  }
