.pullDownMenu {
  position: relative;


  .pullDownMenuMain {
    position: absolute;
    left: -16rem;
    top: 0.3rem;
    width: 25rem;
    z-index: 9;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #fff;

    .signOut {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: #6e6e6e;
      text-underline-offset: 0.25rem;

      &:hover {
        text-decoration-color: #d31334;
      }
    }
  }
}