.reviewPageBlock{
  position: relative;
  display: flex;
  flex-direction: column;

  .reviewQuestionBlock{
    position: relative;
    display: flex;
    flex-direction: column;
  }
}


.reviewPageTitle{
  font-size: 15px;
  font-weight: bolder;

}
.reviewSelect{
  width: 200px;
  height: 40px;
  font-size: 15px;

}
.reviewInput{
  position: relative;
  height: 30px;
  font-size: 15px;
  padding: 5px;
}
.reviewInputReview{
  height: 100px;
  font-size: 15px;
  padding: 5px;
  column-count: 50;
}
.reviewQuestionTitle{
  margin-top:10px;
  margin-bottom: 5px;
  font-size: 15px;
}

