.single_product_order {
  font-family: var(--font-family);
  padding: 0 100px 0 50px;
}
.single_product_order .single_product_location {
  font-size: 14px;
  margin-top: 20px;
}
.single_product_order .single_product_location span {
  text-decoration: underline;
  text-decoration-color: #d5d5d5;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.375rem;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.single_product_order .single_product_location span:not(:last-child)::after {
  content: "/";
  display: inline-block;
  color: #d5d5d5;
  margin: 0 5px;
}
.single_product_order .single_product_location span:hover {
  text-decoration-color: red;
}
.single_product_order .single_product_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 20px;
}
.single_product_order .single_product_price {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.2;
}
.single_product_order .single_product_price span {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.08125rem;
  line-height: 1.2;
}
.single_product_order .other_payment_method {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}
.single_product_order .other_payment_method .after_pay {
  width: 5rem;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.single_product_order .other_payment_method .klarna {
  width: 3.5rem;
  margin: 0 5px;
}
.single_product_order .other_payment_method .circle {
  width: 1rem;
  vertical-align: text-top;
}
.single_product_order .single_product_color {
  margin-top: 30px;
}
.single_product_order .single_product_color .title {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 1.0625rem;
  line-height: 1.1764705882;
}
.single_product_order .single_product_color .current_colour {
  line-height: 1.25rem;
  font-size: 1.0625rem;
}
.single_product_order .single_product_color .colours {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 10px;
}
.single_product_order .single_product_color .colours li {
  margin: 0 0.9rem 0.5rem 0;
}
.single_product_order .single_product_color .colours li img {
  display: flex;
  align-items: center;
  height: 2.125rem;
  justify-content: center;
  margin: 0.3125rem 0;
  border-radius: 50%;
  width: 2.125rem;
  cursor: pointer;
}
.single_product_order .single_product_color .colours li img:hover {
  box-shadow: 0 0 0 0.09375rem #d5d5d5, 0 0 0 0.25rem #fff, 0 0 0 0.34375rem gray;
}
.single_product_order .single_product_color .colours li.active img {
  box-shadow: 0 0 0 0.09375rem #d5d5d5, 0 0 0 0.25rem #fff, 0 0 0 0.34375rem #000;
}
.single_product_order .single_product_size {
  margin-top: 20px;
}
.single_product_order .single_product_size .notified {
  margin-bottom: 0.5rem;
  padding: 13px;
  background-color: #fae8ea;
  border: 0.0625rem solid #d22030;
  font-size: 1.1875rem;
  line-height: 1.2631578947;
}
.single_product_order .single_product_size .notified img {
  vertical-align: text-bottom;
  filter: drop-shadow(0 1000px red);
  transform: translateY(-998px);
  margin-right: 10px;
}
.single_product_order .single_product_size .head {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
}
.single_product_order .single_product_size .head .left {
  font-weight: 600;
}
.single_product_order .single_product_size .head .left span {
  font-weight: 400;
  margin-left: 7px;
}
.single_product_order .single_product_size .head .right {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: #d5d5d5;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.375rem;
  cursor: pointer;
}
.single_product_order .single_product_size .head .right:hover {
  text-decoration-color: red;
}
.single_product_order .single_product_size .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.single_product_order .single_product_size .content li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0 0.2rem;
  cursor: pointer;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px gray;
  font-weight: 600;
  font-size: 1.1875rem;
}
.single_product_order .single_product_size .content li:hover {
  box-shadow: 0 0 0 2px black;
}
.single_product_order .single_product_size .content li.active {
  background-color: black;
  box-shadow: 0 0 0 2px black;
  color: white;
}
.single_product_order .single_product_size .other {
  margin-top: 5px;
}
.single_product_order .single_product_size .other .top {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 1.18;
}
.single_product_order .single_product_size .other .bottom {
  cursor: pointer;
  text-decoration: underline;
  margin-top: 30px;
}
.single_product_order .single_product_size .other .bottom:hover {
  text-decoration: none;
}
.single_product_order .single_product_size .other .bottom .t_logo img {
  width: 16px;
  margin-right: 6px;
  vertical-align: center;
}
.single_product_order .single_product_button {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 0.0625rem solid #e6e6e6;
  margin-top: 10px;
}
.single_product_order .single_product_button .delivery_method .ship {
  border-bottom: 0.0625rem solid #e6e6e6;
  line-height: 1.5rem;
  width: 100%;
  border-radius: 0.25rem;
  box-sizing: border-box;
  position: relative;
}
.single_product_order .single_product_button .delivery_method .ship .border {
  padding: 0.75rem 0.625rem;
  border-radius: 0.25rem;
}
.single_product_order .single_product_button .delivery_method .ship .border .top {
  cursor: pointer;
  line-height: 1.5;
}
.single_product_order .single_product_button .delivery_method .ship .border .top span {
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 0.125rem;
  margin-left: 1.625rem;
}
.single_product_order .single_product_button .delivery_method .ship .border p {
  color: #57585b;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}
.single_product_order .single_product_button .delivery_method .pickUp {
  padding: 1rem 1rem 1rem 0.5rem;
  background-color: var(--dark-bg-color);
  border-bottom: 0.0625rem solid #e6e6e6;
}
.single_product_order .single_product_button .delivery_method .pickUp .top {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.single_product_order .single_product_button .delivery_method .pickUp .top .left img {
  margin-right: 10px;
  width: 1.2rem;
}
.single_product_order .single_product_button .delivery_method .pickUp .top .left span {
  font-size: 1.5rem;
  line-height: 1.75rem;
  vertical-align: text-bottom;
}
.single_product_order .single_product_button .delivery_method .pickUp .top .right {
  position: relative;
  width: 20px;
}
.single_product_order .single_product_button .delivery_method .pickUp .top .right img {
  position: absolute;
  width: 1.3rem;
  transition: transform ease-in-out 0.3s;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom {
  margin: 1rem 1.875rem 0;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .ship_des {
  font-size: 1.0625rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .ship_des span {
  font-weight: 600;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .ship_des .change_location {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #d5d5d5;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.3rem;
  cursor: pointer;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .ship_des .change_location:hover {
  text-decoration-color: red;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .line label {
  font-size: 1.16875rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 0.9375rem;
  margin-left: 0.09375rem;
  cursor: pointer;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .line label input {
  margin-right: 10px;
  vertical-align: middle;
}
.single_product_order .single_product_button .delivery_method .pickUp .bottom .line .text {
  height: 1.5rem;
  position: relative;
  background-color: transparent;
}
.single_product_order .single_product_button .add__button {
  margin: 0.5rem 0.625rem;
  letter-spacing: 0.075rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #d31334;
  border: 0.0625rem solid #d31334;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 1rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}
.single_product_order .single_product_button .add .check_inventory {
  margin-bottom: 1.125rem;
  margin-top: 1rem;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-color: #d5d5d5;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.375rem;
  text-align: center;
}
.single_product_order .single_product_button .add .check_inventory:hover {
  text-decoration-color: red;
}
.single_product_order .single_product_other .head {
  color: #57585b;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  text-align: center;
}
.single_product_order .single_product_other .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 5px;
}
.single_product_order .single_product_other .bottom img {
  vertical-align: text-bottom;
  margin-right: 6px;
}
.single_product_order .single_product_other .bottom span {
  text-decoration: underline;
  text-decoration-color: #d5d5d5;
  text-decoration-thickness: 0.0625rem;
  text-underline-offset: 0.375rem;
  padding-bottom: 0.25rem;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1;
}
.single_product_order .single_product_other .bottom span:hover {
  text-decoration-color: red;
}
.single_product_order .single_product_other .bottom .left {
  cursor: pointer;
}
.single_product_order .single_product_other .bottom .right {
  cursor: pointer;
}
.single_product_order .single_product_details {
  padding-top: 10px;
}
.single_product_order .single_product_details .title {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 1.5rem 0 1rem;
}
.single_product_order .single_product_details ul li {
  margin-bottom: 20px;
}
.single_product_order .single_product_details ul li img {
  width: 30px;
  vertical-align: middle;
  margin-right: 15px;
}
.single_product_order .single_product_details ul li span {
  cursor: pointer;
  padding-bottom: 0.25rem;
  border-bottom: 0.0625rem solid #d5d5d5;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 1.25rem;
}
.single_product_order .single_product_details ul li span:hover {
  border-color: red;
}
.single_product_order .single_product_questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 0.0625rem solid #e8e7e4;
  height: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  overflow: hidden;
}
.single_product_order .single_product_questions .left h3 {
  font-size: 1.375rem;
  line-height: 1.1666666667;
  font-weight: 600;
}
.single_product_order .single_product_questions .left p {
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.1764705882;
}
.single_product_order .single_product_questions .arrow {
  filter: drop-shadow(0 1000px red);
  transform: translateY(-1000px);
  transition: transform ease-in-out 0.3s;
}
.single_product_order:hover .arrow {
  transform: translate(8px, -1000px);
}

/*# sourceMappingURL=Order.css.map */
